<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Sign up | SmackTalk</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koulen:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jockey One:wght@400&display=swap"
    />
    <style>
      button{
        color: black;
        background-color: white;
        border-radius: 100px;
        border-style: groove;
        size: 80px;
      }
      
    </style>
  </head>
  <body>
    <div class="signup">
      <form class="signup-inside" action="/signup" method="post">
        <div class="signup-inside-child"></div>
        <div class="create-account-wrapper">
          <h1 class="create-account1">CREATE ACCOUNT</h1>
        </div>

          <input class="username" placeholder="ENTER  USERNAME" type="text" id="name" name="username"/>

          <input
            class="password-section"
            placeholder="ENTER  PASSWORD"
            type="text"
            id="password"
            name="password"
          />
          <button >submit</button>
        </div>
        <div class="loginbtn-wrapper">
          
        </div>
      </form>
      </div>
      <main class="whatsapp-image-2024-03-17-at-1-group">
        <img
          class="whatsapp-image-2024-03-17-at-11"
          alt=""
          src="https://s3-alpha-sig.figma.com/img/0b23/36d1/9afc8758a76d3d5875efa35273d865ef?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Wjw9Wz4Jmp06IQLnSxjvPNVCF-ftdYaSiwt83RQfqIqYc0~ZuNwxgrdG-tfBTtVGNozX6XGiykQWINjQv~-CqgtXyabcr68ZKsGk6J~oerkNupSQ4LswgZnAvSregJoH516aeTm2-IZAhUnRo97GjwuDF1zUyS3kQFQZJcwuqZukV~52Xw2-XdDSe85Q3A5~7Izq0JUQDKCVH2m6PMLfGo~BqRqIXGjeWycld8E2WBhSnqp9yRtQEGQXUu8cR32BCnkjaj62JyIBOtIZaGG4WvYewOxuxIwUYxKBzIq92arv5lXoSAH7HKSdWkZNQu9mbux-Ud1REwV25HUQ6otTDQ__"
        />

        <img
          class="whatsapp-image-2024-03-17-at-2-icon1"
          loading="lazy"
          alt=""
          src="https://s3-alpha-sig.figma.com/img/8190/1fa3/3adcd62f311ec5de1ed4bbf700d041ac?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PJIGkHc2f5dFiH3r30l0Rc03v5n9hnjTA-A86MR4cyl2HBm02fU-Kw6Hw2MazMJ4MozWZjxMj3N4lkyjczCS-F6xjRpSNtl9321IWHQJkGurlI8a5G6ZR7YHoBzeh4L0aZYYqbWPlzB-5HbDmUAObewPhJBVd5Cps3bwJG-f9Pq3o9LTq1J52x46uKAu~t8zkpowCw7WD4tOtJXxLgeFlPOuQcdKm1kT66ms46B5-2wf~EfyO~rG1KstlMmOZPUJK5FIpoMfQG234T8-ToSpVIZTRYreVDo3JhLBoJFK7v6ztqlZPoKR1iyPMIuuEvfgMTalcYw1I2-H-e2fWg9Q7g__"
        />
      </main>
    </div>
  </body>
</html>